@scrollbar-background-color: @syntax-background-color;
@scrollbar-color: fade(lighten(@syntax-background-color, 40%), 50%);

atom-text-editor {

  ::-webkit-scrollbar {
    width:  16px !important;
    height: 16px !important;
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background: @scrollbar-background-color !important;
  }

  ::-webkit-scrollbar-thumb {
    background: @scrollbar-color !important;
    border-radius: 8px !important;
    background-clip: content-box !important;
    border: 3px solid transparent !important;
    box-shadow: 0px 0px 1px black inset !important;
  }

}
