// These colors are specific to the theme. Do not use in a package!

@black: #161622;
@white: #ffffff;

@very-light-gray: darken(@white, 25%);
@light-gray:      darken(@white, 45%);
@gray:            lighten(@black, 27%);
@dark-gray:       lighten(@black, 9%);
@very-dark-gray:  lighten(@black, 6%);

@cyan:   #5DD8FF;
@orange: #FFCC00;
@red:    #FF6600;
@green:  #66FF00;
@yellow: #DDE93D;
@purple: #8A96E7;
@brown: #999966;
@slate: #BCA1B5;
@aqua: #29A994;

@foam-green: #7CB893;
@bluish-white: #D4E6FF;

@blue:         #5dd8ff;
@light-orange: #ffcc00;
