// These colors are specific to the theme. Do not use in a package!

@black: #222227;
@white: #ffffff;

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #5DD8FF;
@orange: #FFCC00;
@red: #FF6600;
@green: #66FF00;
@yellow: #DDE93D;
@purple: #8A96E7;
@brown: #999966;
@slate: #BCA1B5;
@aqua: #29A994;

@foam-green: #7CB893;
@bluish-white: #D4E6FF;

@blue: #5dd8ff;
@light-orange: #f0c674;
