
// Make targeting scopes less tedious.
.s(@scope, @ruleset) {
  @selector: ~`@{scope}.split(/,\s*/).map(  (s) => s.split(/\./).map((p) => ".syntax--" + p).join('')  ).join(', ').slice(1)`;

  .@{selector} {
    @ruleset();
  }
}

// Match the given scope and anchor to the beginning of the scope name. Does
// not accept commas or descendant combinators.
.sx(@scope, @ruleset) {
  @value: ~`@{scope}.split(/\./).map(p => 'syntax--' + p).join(' ')`;

  *[class^='@{value} '], *[class='@{value}'] {
    @ruleset();
  }
}

.mixin-parameter {
  font-style: italic;
}

.mixin-embedded-line {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 2px;
  color: @syntax-text-color;
}
